In [105]:
import pandas as pd

In [106]:
df = pd.read_csv("/content/us_job_industry_data_2019.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning:

Columns (3,12,14) have mixed types.Specify dtype option on import or set low_memory=False.

In [107]:
# TO DO: MAP CITIES TO MASTER LIST

In [1]:
# Restricting area type to city

city_names = df[ df["area_type"] == 4]

NameError: name 'df' is not defined

In [109]:
# Retaining only area title (city) column

city_names = city_names.filter(["area_title"])

In [110]:
# Removing duplicate city names

city_names = city_names["area_title"].unique()

In [112]:
# Removing cities located in Puerto Rico

non_pr_city_names = []

for city in city_names:
  if city.split()[-1] != "PR":
    non_pr_city_names.append(city)

In [113]:
# Handling cities separated by double dashes

city_double_dashes = []

for city in non_pr_city_names:
  if "--" in city.split(",")[0]:
    for hyphenated_city in city.split("--"):
      city_double_dashes.append(hyphenated_city + ", " + city.split()[-1])    
  else:
    city_double_dashes.append(city)

In [135]:
# Handling cities separated by single dashes

city_dashes = []

for row in city_double_dashes:
  if "-" in row.split(",")[0] and row.split(",")[0] != "Wilkes-Barre":
    for hyphenated_city in row.split(",")[0].split("-"):
      city_dashes.append(hyphenated_city + ", " + city.split()[-1])
  else:
    city_dashes.append(row)

In [149]:
# Handling states separated by dashes

state_dashes = []

for row in city_dashes:
  if "-" in row.split(",")[-1]:
    for hyphenated_state in row.split(",")[-1].split("-"):
      hyphenated_state = hyphenated_state.strip()
      state_dashes.append(row.split(",")[0] + ", " + hyphenated_state)
  else:
    state_dashes.append(row)

In [203]:
# Correcting shape of data in order to transform into a pandas dataframe

fixing_state_names = []

for row in state_dashes:
  if len(row.split(",")) > 2:
    fixing_state_names.append(row.split(",")[0:2])
  else:
    fixing_state_names.append(row)

In [204]:
# Converting city_names into a pandas dataframe

city_names = pd.DataFrame({"city":fixing_state_names})

In [206]:
# Creating new "City" and "State" columns from city data formatted as {City}, {State}

city_names[["City", "State"]] = city_names["city"].str.split(", ", expand=True)

In [208]:
# Dropping combined city/state column

city_names = city_names.filter(["City", "State"])

In [211]:
# Converting cities for a master list of cities

city_names.to_csv("jobs_cities_master_list.csv")