# Working on weather data for a project

[Citrics](https://b.citrics.dev/) is a project that helps people decide before moving to a new city by providing them valuable informations on different cities. One of the core features of the project is being able to get information about top job industries of different cities and compare them. This notebook shows how the data was cleaned, wrangled and new features were created so that they can be used for getting job industry insights.

The data were collected from [Bureau of Labor Statistics (BLS)](https://www.bls.gov/oes/)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# The first dataset is from BLS
# The second dataset contains unique identifiers
# for the 100 cities we worked on

df = pd.read_csv("/content/us_job_industry_data_2019.csv")
df_cities = pd.read_csv("/content/100city_state_data.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3,12,14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df.head()

   area area_title  area_type naics  ...  a_pct75  a_pct90  annual hourly
0    99       U.S.          1     0  ...  154,260        #     NaN    NaN
1    99       U.S.          1     0  ...   94,870  126,040     NaN    NaN
2    99       U.S.          1     0  ...  119,550  152,010     NaN    NaN
3    99       U.S.          1     0  ...  109,970  142,610     NaN    NaN
4    99       U.S.          1     0  ...   96,180  128,100     NaN    NaN

[5 rows x 30 columns]

In [ ]:
# Cleaning up some area titles

df = df.replace(['Phoenix-Mesa-Scottsdale, AZ', 'Los Angeles-Long Beach-Anaheim, CA', 'Killeen-Temple, TX', 'Virginia Beach-Norfolk-Newport News, VA-NC'], ['Phoenix-Mesa-Scottsdale-Chandler-Gilbert, AZ', 'Los Angeles-Long Beach-Anaheim-Glendale-Santa Ana, CA', 'Killeen-Temple-Irving-Plano, TX', 'Virginia Beach-Norfolk-Newport News-Chesapeake, VA-NC'])

In [ ]:
df.shape, df_cities.shape

((395647, 30), (100, 4))

In [ ]:
# Restricting area type to city

df = df[ df["area_type"] == 4]

In [ ]:
df.shape, df_cities.shape

((142410, 30), (100, 4))

In [ ]:
# A function to create city names from area title

def create_cities(areaname):
    #print(areaname)
    areaname = areaname.replace("--","-")
    cities, garbage1 = areaname.split(",")
    areaname = cities.split("-")
    #print(f"{cities} ---- {list_cities}")
    return areaname

In [ ]:
# Applying the function

df['city'] = df.area_title.apply(create_cities)
df.head()

        area   area_title  area_type naics  ...  a_pct90 annual  hourly       city
37227  10180  Abilene, TX          4     0  ...  157,190    NaN     NaN  [Abilene]
37228  10180  Abilene, TX          4     0  ...  101,820    NaN     NaN  [Abilene]
37229  10180  Abilene, TX          4     0  ...  102,860    NaN     NaN  [Abilene]
37230  10180  Abilene, TX          4     0  ...  118,110    NaN     NaN  [Abilene]
37231  10180  Abilene, TX          4     0  ...   85,850    NaN     NaN  [Abilene]

[5 rows x 31 columns]

In [ ]:
df_explode = df.explode('city')

In [ ]:
df_explode.shape

(241969, 31)

In [ ]:
df_explode.columns

Index(['area', 'area_title', 'area_type', 'naics', 'naics_title', 'i_group',
       'own_code', 'occ_code', 'occ_title', 'o_group', 'tot_emp', 'emp_prse',
       'jobs_1000_orig', 'loc_quotient', 'pct_total', 'h_mean', 'a_mean',
       'mean_prse', 'h_pct10', 'h_pct25', 'h_median', 'h_pct75', 'h_pct90',
       'a_pct10', 'a_pct25', 'a_median', 'a_pct75', 'a_pct90', 'annual',
       'hourly', 'city'],
      dtype='object')

In [ ]:
df_explode[['area_title', 'city']].head()

        area_title     city
37227  Abilene, TX  Abilene
37228  Abilene, TX  Abilene
37229  Abilene, TX  Abilene
37230  Abilene, TX  Abilene
37231  Abilene, TX  Abilene

In [ ]:
missing = ['Chandler', 'Gilbert', 'Glendale', 'Santa Ana', 'Honolulu', 'Boise', 'Louisville', 'Winston Salem', 'Irving', 'Plano', 'Chesapeake']
sorted(missing)

['Boise',
 'Chandler',
 'Chesapeake',
 'Gilbert',
 'Glendale',
 'Honolulu',
 'Irving',
 'Louisville',
 'Plano',
 'Santa Ana',
 'Winston Salem']

In [ ]:
len(df_explode.city.unique())

564

In [ ]:
len(df_explode.area_title.unique())

396

In [ ]:
# Cleaning up some more city names

df_explode = df_explode.replace(['Boise City', 'Louisville/Jefferson County', 'Urban Honolulu', 'Winston'], ['Boise', 'Louisville', 'Honolulu', 'Winston Salem'])

In [ ]:
# merging with the dataframe with unique identifier

merged = df_cities.merge(df_explode, on="city", how="left")

In [ ]:
merged.head()

   city_id       city state     city_state  ...  a_pct75  a_pct90  annual hourly
0        0  Anchorage    AK  Anchorage, AK  ...  131,450  182,670     NaN    NaN
1        0  Anchorage    AK  Anchorage, AK  ...   93,320  116,180     NaN    NaN
2        0  Anchorage    AK  Anchorage, AK  ...  100,140  125,210     NaN    NaN
3        0  Anchorage    AK  Anchorage, AK  ...  123,700  156,110     NaN    NaN
4        0  Anchorage    AK  Anchorage, AK  ...   97,830  122,660     NaN    NaN

[5 rows x 34 columns]

In [ ]:
merged.shape

(62282, 34)

In [ ]:
merged.isnull().sum()

city_id               0
city                  0
state                 0
city_state            0
area                  0
area_title            0
area_type             0
naics                 0
naics_title           0
i_group               0
own_code              0
occ_code              0
occ_title             0
o_group               0
tot_emp               0
emp_prse              0
jobs_1000_orig        0
loc_quotient       4888
pct_total         62282
h_mean                0
a_mean                0
mean_prse             0
h_pct10               0
h_pct25               0
h_median              0
h_pct75               0
h_pct90               0
a_pct10               0
a_pct25               0
a_median              0
a_pct75               0
a_pct90               0
annual            58201
hourly            62056
dtype: int64

In [ ]:
len(merged.city.unique())

100

In [ ]:
# Downloading the data

merged.to_csv('test1.csv')

To see how the endpoints were created using this data click [here](https://colab.research.google.com/drive/1IJD9aRTVFZiIvYKZztM2xzUEbmkM3Y6E?usp=sharing)