# This is the 2nd part of the total work process. [Click here](https://colab.research.google.com/drive/1mgsddcrdNcRMAy2o95ifUuZSgcMrGfk0?usp=sharing) to see the first part

In [ ]:
# Concatenating all the files into one dataframe

import pandas as pd

import glob

path = r'/content/'

all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:

    df = pd.read_csv(filename, index_col=None, header=0)

    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [ ]:
frame.head()

     location  summer_maxtempF_mean  ...  winter_mintempF_mean  winter_humidity_mean
0  providence             79.037194  ...             25.878387             75.405375
1   milwaukee             75.980446  ...             19.893841             82.726764
2   santa_ana             81.611902  ...             51.235610             56.645017
3   rochester             75.800638  ...             22.300560             82.954087
4     anaheim             82.072901  ...             51.513774             55.556551

[5 rows x 7 columns]

In [ ]:
frame.shape

(100, 7)

In [ ]:
 # Sorted the dataframe by 'location' column for easier readability

frame_sorted = frame.sort_values(['location'], ascending=True)
frame_sorted.head()

       location  ...  winter_humidity_mean
43        akron  ...             85.216368
54  albuquerque  ...             51.592385
4       anaheim  ...             55.556551
48    anchorage  ...             83.877940
45    arlington  ...             67.370661

[5 rows x 7 columns]

In [ ]:
# Cleaned 'location' column

frame_sorted['location'] = frame_sorted['location'].apply(lambda x: x.title())
frame_sorted['location'] = frame_sorted['location'].str.replace('_', ' ')
frame_sorted.head(50)

            location  ...  winter_humidity_mean
43             Akron  ...             85.216368
54       Albuquerque  ...             51.592385
4            Anaheim  ...             55.556551
48         Anchorage  ...             83.877940
45         Arlington  ...             67.370661
83           Atlanta  ...             74.407615
46           Augusta  ...             71.723404
70            Aurora  ...             61.119821
82            Austin  ...             69.234043
58       Bakersfield  ...             58.191489
71         Baltimore  ...             73.066069
57       Baton Rouge  ...             80.216125
27             Boise  ...             71.369541
39            Boston  ...             75.139978
91           Buffalo  ...             83.342665
38          Chandler  ...             38.956327
20         Charlotte  ...             72.564390
30       Chattanooga  ...             77.983203
99        Chesapeake  ...             75.067189
80           Chicago  ...             79.792833
21        Cincinnati  ...             79.262038
53         Cleveland  ...             82.812990
77  Colorado Springs  ...             63.159015
6           Columbus  ...             79.268757
79    Corpus Christi  ...             73.711086
7             Dallas  ...             67.593505
95            Denver  ...             61.893617
51        Des Moines  ...             79.306831
25           Detroit  ...             82.016797
78            Durham  ...             74.029115
44           El Paso  ...             37.818589
47   Fort Lauderdale  ...             72.268757
98        Fort Worth  ...             65.846585
14            Fresno  ...             63.760358
73           Gilbert  ...             39.206047
87          Glendale  ...             38.222844
5         Greensboro  ...             73.538634
10         Henderson  ...             38.528555
61          Honolulu  ...             75.395297
11           Houston  ...             75.681971
31      Indianapolis  ...             79.269877
89            Irving  ...             66.748040
74      Jacksonville  ...             72.372900
96       Kansas City  ...             71.829787
68         Knoxville  ...             76.853303
29            Laredo  ...             58.627100
17         Las Vegas  ...             41.025756
62         Lexington  ...             79.857783
19           Lincoln  ...             73.980963
26        Long Beach  ...             58.767077

[50 rows x 7 columns]

In [ ]:
# Downloaded the dataframe for future use

from google.colab import files
frame_sorted.to_csv(r'semi_final.csv', index = False)
files.download('final.csv')

In [ ]:
import pandas as pd
semi_final = pd.read_csv('semi_final.csv')
print(semi_final.shape)
semi_final.head()

(100, 7)

      location  ...  winter_humidity_mean
0        Akron  ...             85.216368
1  Albuquerque  ...             51.592385
2      Anaheim  ...             55.556551
3    Anchorage  ...             83.877940
4    Arlington  ...             67.370661

[5 rows x 7 columns]

In [ ]:
# Renamed the 'loaction' column to 'city' so that we can merge the dataframe with the dataframe with unique identifier

semi_final = semi_final.rename(columns={"location": "city"})
semi_final.head()

          city  ...  winter_humidity_mean
0        Akron  ...             85.216368
1  Albuquerque  ...             51.592385
2      Anaheim  ...             55.556551
3    Anchorage  ...             83.877940
4    Arlington  ...             67.370661

[5 rows x 7 columns]

In [ ]:
# This is the dataframe where we will get an unique identifier (city_id) for our dataframe

id_file = pd.read_csv('100city_state_data.csv')
print(id_file.shape)
id_file.head()

(100, 4)

   city_id       city state     city_state
0        0  Anchorage    AK  Anchorage, AK
1        1   Chandler    AZ   Chandler, AZ
2        2    Gilbert    AZ    Gilbert, AZ
3        3   Glendale    AZ   Glendale, AZ
4        4       Mesa    AZ       Mesa, AZ

In [ ]:
# merging both dataframe together

final = pd.merge(id_file, semi_final, on='city', how='inner')
print(final.shape)
final.head(50)

(100, 10)

    city_id              city  ... winter_mintempF_mean winter_humidity_mean
0         0         Anchorage  ...            14.566405            83.877940
1         1          Chandler  ...            49.131243            38.956327
2         2           Gilbert  ...            48.972004            39.206047
3         3          Glendale  ...            48.905487            38.222844
4         4              Mesa  ...            48.972004            39.206047
5         5           Phoenix  ...            50.018141            37.580067
6         6        Scottsdale  ...            49.580739            38.287794
7         7            Tucson  ...            45.345801            38.648376
8         8           Anaheim  ...            51.513774            55.556551
9         9       Bakersfield  ...            42.074356            58.191489
10       10            Fresno  ...            43.154759            63.760358
11       11        Long Beach  ...            52.874356            58.767077
12       12       Los Angeles  ...            50.741769            54.012318
13       13           Oakland  ...            46.089586            72.301232
14       14        Sacramento  ...            41.947368            72.788354
15       15         San Diego  ...            52.221277            62.040314
16       16     San Francisco  ...            46.212542            72.482643
17       17          San Jose  ...            43.459127            69.978723
18       18         Santa Ana  ...            51.235610            56.645017
19       19            Aurora  ...            23.532139            61.119821
20       20  Colorado Springs  ...            20.091377            63.159015
21       21            Denver  ...            22.639194            61.893617
22       22        Washington  ...            31.588802            71.919373
23       23   Fort Lauderdale  ...            67.119149            72.268757
24       24      Jacksonville  ...            51.421053            72.372900
25       25             Miami  ...            67.907279            72.518477
26       26           Orlando  ...            55.684211            72.222844
27       27    St. Petersburg  ...            20.057111            92.016797
28       28       Tallahassee  ...            47.530795            75.773796
29       29             Tampa  ...            55.862108            72.321749
30       30           Atlanta  ...            39.316909            74.407615
31       31           Augusta  ...            45.247032            71.723404
32       32          Honolulu  ...            68.973572            75.395297
33       33        Des Moines  ...            20.417917            79.306831
34       34             Boise  ...            63.857783            71.369541
35       35           Chicago  ...            24.425084            79.792833
36       36      Indianapolis  ...            26.043673            79.269877
37       37           Wichita  ...            29.919821            65.982083
38       38         Lexington  ...            29.792833            79.857783
39       39        Louisville  ...            30.024636            78.556551
40       40       Baton Rouge  ...            47.186114            80.216125
41       41       New Orleans  ...            52.630459            75.382979
42       42        Shreveport  ...            42.979395            78.050392
43       43            Boston  ...            25.176932            75.139978
44       44         Baltimore  ...            30.663606            73.066069
45       45           Detroit  ...            22.683539            82.016797
46       46       Minneapolis  ...            12.816797            86.761478
47       47       Kansas City  ...            27.122060            71.829787
48       48         St. Louis  ...            65.706159            23.976484
49       49         Charlotte  ...            37.436282            72.564390

[50 rows x 10 columns]

In [ ]:
final.tail(50)

    city_id            city  ... winter_mintempF_mean winter_humidity_mean
50       50          Durham  ...            35.749160            74.029115
51       51      Greensboro  ...            34.854199            73.538634
52       52         Raleigh  ...            36.954535            73.305711
53       53   Winston Salem  ...            34.600224            72.800672
54       54         Lincoln  ...            22.727884            73.980963
55       55           Omaha  ...            21.397536            76.277716
56       56          Newark  ...            28.218589            74.314670
57       57     Albuquerque  ...            30.572900            51.592385
58       58       Henderson  ...            44.025532            38.528555
59       59       Las Vegas  ...            41.143113            41.025756
60       60            Reno  ...            26.075924            67.725644
61       61         Buffalo  ...            22.181635            83.342665
62       62        New York  ...            29.280851            73.484882
63       63       Rochester  ...            22.300560            82.954087
64       64        Syracuse  ...            20.091377            85.132139
65       65           Akron  ...            22.239238            85.216368
66       66      Cincinnati  ...            28.000896            79.262038
67       67       Cleveland  ...            24.632699            82.812990
68       68        Columbus  ...            26.053751            79.268757
69       69   Oklahoma City  ...            35.229115            64.079507
70       70           Tulsa  ...            34.973124            67.991041
71       71        Portland  ...            35.819709            82.019037
72       72    Philadelphia  ...            29.333259            74.022396
73       73      Pittsburgh  ...            23.908072            83.705157
74       74      Providence  ...            25.878387            75.405375
75       75     Chattanooga  ...            35.487122            77.983203
76       76       Knoxville  ...            34.051960            76.853303
77       77         Memphis  ...            38.174020            76.563270
78       78       Nashville  ...            35.037626            76.437850
79       79       Arlington  ...            42.797984            67.370661
80       80          Austin  ...            46.462486            69.234043
81       81  Corpus Christi  ...            54.476820            73.711086
82       82          Dallas  ...            42.914894            67.593505
83       83         El Paso  ...            41.528108            37.818589
84       84      Fort Worth  ...            42.342441            65.846585
85       85         Houston  ...            50.487794            75.681971
86       86          Irving  ...            43.110414            66.748040
87       87          Laredo  ...            53.860022            58.627100
88       88         Lubbock  ...            36.559462            47.286674
89       89           Plano  ...            42.294065            68.939530
90       90     San Antonio  ...            48.171781            67.159015
91       91  Salt Lake City  ...            25.289810            75.124300
92       92      Chesapeake  ...            37.845465            75.067189
93       93         Norfolk  ...            37.845465            75.067189
94       94        Richmond  ...            33.463382            73.541993
95       95  Virginia Beach  ...            39.185890            75.342665
96       96         Seattle  ...            35.632251            83.784994
97       97         Spokane  ...            24.247704            85.374020
98       98         Madison  ...            16.338186            86.011198
99       99       Milwaukee  ...            19.893841            82.726764

[50 rows x 10 columns]

In [ ]:
# Rounding up decimal values

final = final.round()
final.head()

   city_id       city  ... winter_mintempF_mean winter_humidity_mean
0        0  Anchorage  ...                 15.0                 84.0
1        1   Chandler  ...                 49.0                 39.0
2        2    Gilbert  ...                 49.0                 39.0
3        3   Glendale  ...                 49.0                 38.0
4        4       Mesa  ...                 49.0                 39.0

[5 rows x 10 columns]

In [ ]:
# Changing datatype

final = final.astype({'summer_maxtempF_mean':int, 'summer_mintempF_mean':int, 'summer_humidity_mean':int, 'winter_maxtempF_mean':int, 'winter_mintempF_mean':int, 'winter_humidity_mean':int})
final.head(50)

    city_id              city  ... winter_mintempF_mean winter_humidity_mean
0         0         Anchorage  ...                   15                   84
1         1          Chandler  ...                   49                   39
2         2           Gilbert  ...                   49                   39
3         3          Glendale  ...                   49                   38
4         4              Mesa  ...                   49                   39
5         5           Phoenix  ...                   50                   38
6         6        Scottsdale  ...                   50                   38
7         7            Tucson  ...                   45                   39
8         8           Anaheim  ...                   52                   56
9         9       Bakersfield  ...                   42                   58
10       10            Fresno  ...                   43                   64
11       11        Long Beach  ...                   53                   59
12       12       Los Angeles  ...                   51                   54
13       13           Oakland  ...                   46                   72
14       14        Sacramento  ...                   42                   73
15       15         San Diego  ...                   52                   62
16       16     San Francisco  ...                   46                   72
17       17          San Jose  ...                   43                   70
18       18         Santa Ana  ...                   51                   57
19       19            Aurora  ...                   24                   61
20       20  Colorado Springs  ...                   20                   63
21       21            Denver  ...                   23                   62
22       22        Washington  ...                   32                   72
23       23   Fort Lauderdale  ...                   67                   72
24       24      Jacksonville  ...                   51                   72
25       25             Miami  ...                   68                   73
26       26           Orlando  ...                   56                   72
27       27    St. Petersburg  ...                   20                   92
28       28       Tallahassee  ...                   48                   76
29       29             Tampa  ...                   56                   72
30       30           Atlanta  ...                   39                   74
31       31           Augusta  ...                   45                   72
32       32          Honolulu  ...                   69                   75
33       33        Des Moines  ...                   20                   79
34       34             Boise  ...                   64                   71
35       35           Chicago  ...                   24                   80
36       36      Indianapolis  ...                   26                   79
37       37           Wichita  ...                   30                   66
38       38         Lexington  ...                   30                   80
39       39        Louisville  ...                   30                   79
40       40       Baton Rouge  ...                   47                   80
41       41       New Orleans  ...                   53                   75
42       42        Shreveport  ...                   43                   78
43       43            Boston  ...                   25                   75
44       44         Baltimore  ...                   31                   73
45       45           Detroit  ...                   23                   82
46       46       Minneapolis  ...                   13                   87
47       47       Kansas City  ...                   27                   72
48       48         St. Louis  ...                   66                   24
49       49         Charlotte  ...                   37                   73

[50 rows x 10 columns]

In [ ]:
# Downloading the data

from google.colab import files
final.to_csv(r'weather_average.csv', index = False)
files.download('weather_average.csv')