In [1]:
import pandas as pd
import numpy as np

In [2]:
url = "./data/current_city_metrics.csv"
df = pd.read_csv(url)

In [3]:
df.shape

(100, 34)

In [4]:
df.head()

,city_id,city,state,city_state,areaname,countyname,total_pop,land_area,pop_density,male_pop,...,fmr_pct_chg,fmr_dollar_chg,summer_maxtempF_mean,summer_mintempF_mean,summer_humidity_mean,winter_maxtempF_mean,winter_mintempF_mean,winter_humidity_mean,total_days_snowed,total_days_rained
0,0,Anchorage,AK,"Anchorage, AK","Anchorage, AK HUD Metro FMR Area",Anchorage Municipality,288000,1706.6,168.756592,144557,...,-0.006093,-8,59,49,77,23,15,84,44,160
1,1,Chandler,AZ,"Chandler, AZ",Phoenix-Chandler-Glendale-Gilbert-Mesa-Scottsd...,Maricopa County,261149,64.9,4023.867488,128039,...,0.093197,100,101,83,30,67,49,39,0,88
2,2,Gilbert,AZ,"Gilbert, AZ",Phoenix-Chandler-Glendale-Gilbert-Mesa-Scottsd...,Maricopa County,254115,68.0,3736.985294,124231,...,0.093197,100,100,83,30,66,49,39,0,85
3,3,Glendale,AZ,"Glendale, AZ",Phoenix-Chandler-Glendale-Gilbert-Mesa-Scottsd...,Maricopa County,252384,59.1,4270.456853,125841,...,0.093197,100,100,83,29,66,49,38,0,79
4,4,Mesa,AZ,"Mesa, AZ",Phoenix-Chandler-Glendale-Gilbert-Mesa-Scottsd...,Maricopa County,517981,137.9,3756.207397,257105,...,0.093197,100,100,83,30,66,49,39,0,85

In [5]:
df.columns

Index(['city_id', 'city', 'state', 'city_state', 'areaname', 'countyname',
       'total_pop', 'land_area', 'pop_density', 'male_pop', 'female_pop',
       'age_under_20', 'age_20-29', 'age_30-39', 'age_40-49', 'age_50-59',
       'age_above_60', 'unemployment_rate', 'rank', 'fmr_0', 'fmr_1', 'fmr_2',
       'fmr_3', 'fmr_4', 'fmr_pct_chg', 'fmr_dollar_chg',
       'summer_maxtempF_mean', 'summer_mintempF_mean', 'summer_humidity_mean',
       'winter_maxtempF_mean', 'winter_mintempF_mean', 'winter_humidity_mean',
       'total_days_snowed', 'total_days_rained'],
      dtype='object')

In [22]:
df.describe()

,city_id,total_pop,land_area,pop_density,male_pop,female_pop,age_under_20,age_20-29,age_30-39,age_40-49,...,fmr_pct_chg,fmr_dollar_chg,summer_maxtempF_mean,summer_mintempF_mean,summer_humidity_mean,winter_maxtempF_mean,winter_mintempF_mean,winter_humidity_mean,total_days_snowed,total_days_rained
count,100.000000,1.000000e+02,100.00000,100.000000,1.000000e+02,1.000000e+02,100.000000,100.000000,100.00000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,49.500000,6.370373e+05,180.63000,4652.982041,3.116567e+05,3.253806e+05,24.666000,16.981000,15.47600,12.151000,...,0.042424,53.360000,85.880000,68.100000,63.30000,52.220000,37.750000,69.140000,17.240000,171.750000
std,29.011492,9.527771e+05,209.38496,4020.399020,4.594417e+05,4.935647e+05,3.547178,3.163418,2.05712,1.473229,...,0.041408,56.017587,7.816429,8.102251,16.15737,13.925908,12.793918,13.782598,24.737458,55.874205
min,0.000000,1.423100e+05,18.40000,168.756592,6.558800e+04,7.672200e+04,15.000000,11.100000,10.50000,8.400000,...,-0.100000,-111.000000,59.000000,49.000000,20.00000,23.000000,13.000000,24.000000,0.000000,51.000000
25%,24.750000,2.586685e+05,67.75000,2401.267126,1.276958e+05,1.331280e+05,22.675000,15.000000,13.90000,11.300000,...,0.021323,19.000000,81.000000,63.000000,59.75000,41.500000,26.000000,65.500000,0.000000,123.250000
50%,49.500000,3.900290e+05,113.90000,3551.697110,1.923260e+05,2.002075e+05,24.600000,16.400000,15.20000,12.100000,...,0.039158,40.000000,85.500000,67.000000,71.00000,52.000000,37.000000,73.000000,3.000000,188.000000
75%,74.250000,6.538898e+05,220.70000,5252.945128,3.231545e+05,3.343598e+05,27.100000,18.100000,16.70000,13.025000,...,0.075683,97.000000,91.000000,74.250000,74.25000,64.000000,47.250000,77.250000,30.000000,205.500000
max,99.000000,8.336817e+06,1706.60000,27651.134328,3.979090e+06,4.357727e+06,35.700000,29.900000,21.30000,17.000000,...,0.117607,200.000000,102.000000,84.000000,83.00000,93.000000,69.000000,92.000000,95.000000,289.000000

In [12]:
'''
rooms=1br
pop_min=120000
pop_max=None
rent_min=None
rent_max=4300
weather_min=None
weather_max=90
'''
def get_cities(rooms,pop_min,pop_max,rent_min,rent_max,weather_min,weather_max):
    condition=[]
    cond_str =""
    rooms_map={"studio":"fmr_0",
              "1br":"fmr_1",
              "2br":"fmr_2",
              "3br":"fmr_3",
              "4br":"fmr_4",
             }
    url = "./data/current_city_metrics.csv"
    df = pd.read_csv(url)
    filter_df = df
    
    # Checking for rentals
    if(rooms):
        if(rent_min):
            cond_rent = f"({rooms_map[rooms]} >= {rent_min})"
            condition.append(cond_rent)
        if(rent_max):
            cond_rent = f"({rooms_map[rooms]} <= {rent_max})"
            condition.append(cond_rent)
   # Checking for population
    if(pop_min):
        cond_pop = f"(total_pop >= {pop_min})"
        condition.append(cond_pop)
    if(pop_max):
        cond_pop = f"(total_pop <= {pop_max})"
        condition.append(cond_pop)
    
    # Checking for Weather
    if(weather_min):
        cond_weather = f"(winter_mintempF_mean >= {weather_min})"
        condition.append(cond_weather)
    if(weather_max):
        cond_weather = f"(summer_maxtempF_mean <= {weather_max})"
        condition.append(cond_weather)
    
    #construct the condition str
    print(len(condition))
    
    if (len(condition) > 0 ):
        for cond in condition:
            cond_str += f"{cond} & "
    #print(cond_str[:])
    #print(cond_str[:-2])
        filter_df = df[df.eval(cond_str[:-2])]
    
    
    filter_df = filter_df[['city_id','city','state','city_state']]
    print(filter_df.shape)
    df_list = df.to_numpy()
    num_rows=len(filter_df.to_numpy())
    
    list_dict = []
    for row in range(num_rows):
        #print(row)
        dic ={}
        dic["id"] = df_list[row][0]
        dic["name"]= df_list[row][1]
        dic["state"] = df_list[row][2]
        dic["city_state"] = df_list[row][3]
        list_dict.append(dic)
        
    return {'cities':list_dict}

In [24]:
cities = get_cities("studio",120000,None,None,800,None,None)
print(cities)

2
(49, 4)
{'cities': [{'id': 0, 'name': 'Anchorage', 'state': 'AK', 'city_state': 'Anchorage, AK'}, {'id': 1, 'name': 'Chandler', 'state': 'AZ', 'city_state': 'Chandler, AZ'}, {'id': 2, 'name': 'Gilbert', 'state': 'AZ', 'city_state': 'Gilbert, AZ'}, {'id': 3, 'name': 'Glendale', 'state': 'AZ', 'city_state': 'Glendale, AZ'}, {'id': 4, 'name': 'Mesa', 'state': 'AZ', 'city_state': 'Mesa, AZ'}, {'id': 5, 'name': 'Phoenix', 'state': 'AZ', 'city_state': 'Phoenix, AZ'}, {'id': 6, 'name': 'Scottsdale', 'state': 'AZ', 'city_state': 'Scottsdale, AZ'}, {'id': 7, 'name': 'Tucson', 'state': 'AZ', 'city_state': 'Tucson, AZ'}, {'id': 8, 'name': 'Anaheim', 'state': 'CA', 'city_state': 'Anaheim, CA'}, {'id': 9, 'name': 'Bakersfield', 'state': 'CA', 'city_state': 'Bakersfield, CA'}, {'id': 10, 'name': 'Fresno', 'state': 'CA', 'city_state': 'Fresno, CA'}, {'id': 11, 'name': 'Long Beach', 'state': 'CA', 'city_state': 'Long Beach, CA'}, {'id': 12, 'name': 'Los Angeles', 'state': 'CA', 'city_state': 'Los Angeles, CA'}, {'id': 13, 'name': 'Oakland', 'state': 'CA', 'city_state': 'Oakland, CA'}, {'id': 14, 'name': 'Sacramento', 'state': 'CA', 'city_state': 'Sacramento, CA'}, {'id': 15, 'name': 'San Diego', 'state': 'CA', 'city_state': 'San Diego, CA'}, {'id': 16, 'name': 'San Francisco', 'state': 'CA', 'city_state': 'San Francisco, CA'}, {'id': 17, 'name': 'San Jose', 'state': 'CA', 'city_state': 'San Jose, CA'}, {'id': 18, 'name': 'Santa Ana', 'state': 'CA', 'city_state': 'Santa Ana, CA'}, {'id': 19, 'name': 'Aurora', 'state': 'CO', 'city_state': 'Aurora, CO'}, {'id': 20, 'name': 'Colorado Springs', 'state': 'CO', 'city_state': 'Colorado Springs, CO'}, {'id': 21, 'name': 'Denver', 'state': 'CO', 'city_state': 'Denver, CO'}, {'id': 22, 'name': 'Washington', 'state': 'DC', 'city_state': 'Washington, DC'}, {'id': 23, 'name': 'Fort Lauderdale', 'state': 'FL', 'city_state': 'Fort Lauderdale, FL'}, {'id': 24, 'name': 'Jacksonville', 'state': 'FL', 'city_state': 'Jacksonville, FL'}, {'id': 25, 'name': 'Miami', 'state': 'FL', 'city_state': 'Miami, FL'}, {'id': 26, 'name': 'Orlando', 'state': 'FL', 'city_state': 'Orlando, FL'}, {'id': 27, 'name': 'St. Petersburg', 'state': 'FL', 'city_state': 'St. Petersburg, FL'}, {'id': 28, 'name': 'Tallahassee', 'state': 'FL', 'city_state': 'Tallahassee, FL'}, {'id': 29, 'name': 'Tampa', 'state': 'FL', 'city_state': 'Tampa, FL'}, {'id': 30, 'name': 'Atlanta', 'state': 'GA', 'city_state': 'Atlanta, GA'}, {'id': 31, 'name': 'Augusta', 'state': 'GA', 'city_state': 'Augusta, GA'}, {'id': 32, 'name': 'Honolulu', 'state': 'HI', 'city_state': 'Honolulu, HI'}, {'id': 33, 'name': 'Des Moines', 'state': 'IA', 'city_state': 'Des Moines, IA'}, {'id': 34, 'name': 'Boise', 'state': 'ID', 'city_state': 'Boise, ID'}, {'id': 35, 'name': 'Chicago', 'state': 'IL', 'city_state': 'Chicago, IL'}, {'id': 36, 'name': 'Indianapolis', 'state': 'IN', 'city_state': 'Indianapolis, IN'}, {'id': 37, 'name': 'Wichita', 'state': 'KS', 'city_state': 'Wichita, KS'}, {'id': 38, 'name': 'Lexington', 'state': 'KY', 'city_state': 'Lexington, KY'}, {'id': 39, 'name': 'Louisville', 'state': 'KY', 'city_state': 'Louisville, KY'}, {'id': 40, 'name': 'Baton Rouge', 'state': 'LA', 'city_state': 'Baton Rouge, LA'}, {'id': 41, 'name': 'New Orleans', 'state': 'LA', 'city_state': 'New Orleans, LA'}, {'id': 42, 'name': 'Shreveport', 'state': 'LA', 'city_state': 'Shreveport, LA'}, {'id': 43, 'name': 'Boston', 'state': 'MA', 'city_state': 'Boston, MA'}, {'id': 44, 'name': 'Baltimore', 'state': 'MD', 'city_state': 'Baltimore, MD'}, {'id': 45, 'name': 'Detroit', 'state': 'MI', 'city_state': 'Detroit, MI'}, {'id': 46, 'name': 'Minneapolis', 'state': 'MN', 'city_state': 'Minneapolis, MN'}, {'id': 47, 'name': 'Kansas City', 'state': 'MO', 'city_state': 'Kansas City, MO'}, {'id': 48, 'name': 'St. Louis', 'state': 'MO', 'city_state': 'St. Louis, MO'}]}

In [9]:
str_cond = "(fmr_1 >= 5000) & (total_pop >= 120000) & (summer_maxtempF_mean <= 90)"
df1 = df[df.eval(str_cond)]
df2 = df1[['city_id','city','state','city_state']]
df2.shape

(0, 4)

In [25]:
min(df['total_pop']),max(df['total_pop'])

(142310, 8336817)

In [26]:
min(df['winter_mintempF_mean']),max(df['summer_maxtempF_mean'])

(13, 102)

In [27]:
min(df['fmr_0']),max(df['fmr_4'])

(536, 4657)