In [1]:
import pandas as pd
import numpy as np

In [2]:
url ="./data/100city_state_data.csv"
df = pd.read_csv(url)

In [3]:
df.head()

   city_id       city state     city_state
0        0  Anchorage    AK  Anchorage, AK
1        1   Chandler    AZ   Chandler, AZ
2        2    Gilbert    AZ    Gilbert, AZ
3        3   Glendale    AZ   Glendale, AZ
4        4       Mesa    AZ       Mesa, AZ

In [4]:
#{ 'id': 1, 'name': "Albany", 'state': "NY" }
# {"cities" : rt_list}

In [8]:
df_list = df.to_numpy()
num_rows=len(df.to_numpy())

In [12]:
list_dict = []
for row in range(num_rows):
    #print(row)
    dic ={}
    dic["id"] = df_list[row][0]
    dic["name"]= df_list[row][1]
    dic["state"] = df_list[row][2]
    dic["city_state"] = df_list[row][3]
    list_dict.append(dic)

In [14]:
#print(list_dict)